<footer>
    <div class="row">
        <div class="col-md-1 col-md-offset-5 author"><span>NormalAsh's<span>&nbsp;&nbsp;</span>Blog</span></div>

    </div>
    <div class="power"><p><span>Spring Boot Blog Demo</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Just for test</span></p></div>
</footer>
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-tokenfield.min.js"></script>
<script src="../js/editormd.min.js"></script>
<script src="../js/jquery.tagcloud.js"></script>
<script src="../js/style.js"></script>
</body>
</html>